html,body
{
    background: #6665ee;
    overflow-x: hidden;
    height: 100%;
}

nav
{
    position: relative;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}
nav a
{
    color: whitesmoke;
    text-decoration: none;
}

nav #marker
{
    position: absolute;
    left: 0;
    height: 4px;
    width: 0;
    background: whitesmoke;
    bottom: -8px;
    transition: .5s;
    border-radius: 4px;
}

/*#contact
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
/*#contactForm
{
    background: #3e3e3e;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    /*position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}*/

/*.submit
{
    background: #6665ee;
    border-radius: 10px;
    padding: 10px;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
}*/
.contact
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.inputBox
{
    position: relative; 
    width: 250px; 
}

.inputBox input
{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #3e3e3e;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}

.inputBox span
{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color:rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span
{
    background: #6665ee;
    color: #3e3e3e;
    border-radius: 2px;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: #6665ee;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #3e3e3e;
    border-left: 1px solid #6665ee;
    border-right: 1px solid #6665ee;
    letter-spacing: 0.2em;

}

.inputBox input:valid,
.inputBox input:focus
{
    border: 1px solid #6665ee;
}