html,body
{
    background: #6665ee;
    overflow-x: hidden;
    height: 100%;
}

nav
{
    position: relative;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}
nav a
{
    color: whitesmoke;
    text-decoration: none;
}

nav #marker
{
    position: absolute;
    left: 0;
    height: 4px;
    width: 0;
    background: whitesmoke;
    bottom: -8px;
    transition: .5s;
    border-radius: 4px;
}